/* Section Services */
.services {
  width          : 100%;
  height         : 100vh;
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  overflow       : hidden;
}

.services>* {
  flex-grow: 1;
}

.services .circle--rotate {
  border-radius: 50%;
  border       : 1px #000000 solid;
  width        : 43%;
  height       : 43%;
  margin       : 0 -200px;
  position     : relative;
  transform    : rotate(45deg);
  z-index      : 0;
  padding      : 0;
  float        : right;
}

.services .circle--rotate>li {
  position     : absolute;
  left         : 0;
  top          : 0;
  width        : 100%;
  height       : 100%;
  display      : block;
  border-radius: 50%;
  z-index      : 10;
  visibility   : hidden;
}

.services .circle--rotate>li .icon {
  visibility      : visible;
  cursor          : pointer;
  text-align      : center;
  overflow        : hidden;
  font-size       : 20px;
  color           : #ffffff;
  border-radius   : 50%;
  background-color: #000000;
  height          : 3%;
  width           : 3%;
  margin          : -1.5% auto;
  transition      : all 500ms ease;
  box-shadow      : -10px 10px 25px rgba(0, 0, 0, 0.2);
}

.services.circle--rotate>li i {
  color    : #ffffff;
  font-size: 24px;
  margin   : auto;
  cursor   : pointer;
  width    : 100%;
  height   : 100%;
  display  : table;
}

.services.circle--rotate>li i::before {
  display       : table-cell;
  vertical-align: middle;
}

.services.circle--rotate>li img {
  margin: auto;
}

.services.circle--slider {
  position: relative;
}

.services.circle--slider .rotate--circle {
  margin: 0 auto;
}

.services.circle--slider .circle--rotate>li div {
  position        : relative;
  overflow        : visible;
  background-color: #1F2845;
}

.services.circle--slider .circle--rotate>li div span {
  transform : rotate(0deg);
  transition: all 2s;
  opacity   : 0;
}

.services.circle--slider .circle--rotate>li.active div {
  font-size       : 20px;
  background-color: #654BE4;
  transition      : all 1s;
}

.services.circle--slider .circle--rotate>li.active div span {
  width    : 100%;
  height   : 100%;
  display  : block;
  position : absolute;
  top      : 0;
  left     : 0;
  transform: rotate(-45deg);
  z-index  : -1;
  opacity  : 1;
}

.services.circle--slider .circle--rotate>li.active div span:before {
  position: absolute;
  height  : 1px;
  top     : -50%;
  right   : 140%;
  bottom  : 0;
  margin  : auto;
  content : "";
  width   : 30%;
  height  : 30%;
  filter  : blur(3px);
  opacity : .7;
  border  : 6px solid transparent;
  z-index : -1;
}

.services.circle--slider .circle--rotate>li.active div span:after {
  position     : absolute;
  height       : 1px;
  top          : 100%;
  left         : 130%;
  bottom       : 0;
  margin       : auto;
  content      : "";
  width        : 40%;
  height       : 40%;
  border-radius: 50%;
  opacity      : .7;
  border       : 8px solid transparent;
  z-index      : 5;
}

.services.circle--slider .count2 li:nth-child(2) {
  transform: rotate(180deg);
}

.services.circle--slider .count3 li:nth-child(2) {
  transform: rotate(120deg);
}

.services.circle--slider .count3 li:nth-child(3) {
  transform: rotate(240deg);
}

.services.circle--slider .count4 li:nth-child(2) {
  transform: rotate(90deg);
}

.services.circle--slider .count4 li:nth-child(3) {
  transform: rotate(180deg);
}

.services.circle--slider .count4 li:nth-child(4) {
  transform: rotate(270deg);
}

.services.circle--slider .count5 li:nth-child(2) {
  transform: rotate(72deg);
}

.services.circle--slider .count5 li:nth-child(3) {
  transform: rotate(144deg);
}

.services.circle--slider .count5 li:nth-child(4) {
  transform: rotate(216deg);
}

.services.circle--slider .count5 li:nth-child(5) {
  transform: rotate(-72deg);
}

.services.circle--slider .count6 li:nth-child(2) {
  transform: rotate(60deg);
}

.services.circle--slider .count6 li:nth-child(3) {
  transform: rotate(120deg);
}

.services.circle--slider .count6 li:nth-child(4) {
  transform: rotate(180deg);
}

.services.circle--slider .count6 li:nth-child(5) {
  transform: rotate(240deg);
}

.services.circle--slider .count6 li:nth-child(6) {
  transform: rotate(-60deg);
}

.services.circle--slider .count7 li:nth-child(2) {
  transform: rotate(51.5deg);
}

.services.circle--slider .count7 li:nth-child(3) {
  transform: rotate(103deg);
}

.services .circle--slider .count7 li:nth-child(4) {
  transform: rotate(154.5deg);
}

.services .circle--slider .count7 li:nth-child(5) {
  transform: rotate(206deg);
}

.services .circle--slider .count7 li:nth-child(6) {
  transform: rotate(-103deg);
}

.services .circle--slider .count7 li:nth-child(7) {
  transform: rotate(-51.5deg);
}

.services .circle--slider .count8 li:nth-child(2) {
  transform: rotate(45deg);
}

.services .circle--slider .count8 li:nth-child(3) {
  transform: rotate(90deg);
}

.services .circle--slider .count8 li:nth-child(4) {
  transform: rotate(135deg);
}

.services .circle--slider .count8 li:nth-child(5) {
  transform: rotate(180deg);
}

.services .circle--slider .count8 li:nth-child(6) {
  transform: rotate(-135deg);
}

.services .circle--slider .count8 li:nth-child(7) {
  transform: rotate(-90deg);
}

.services .circle--slider .count8 li:nth-child(8) {
  transform: rotate(-45deg);
}

.services .circle--slider .count9 li:nth-child(2) {
  transform: rotate(40deg);
}

.services .circle--slider .count9 li:nth-child(3) {
  transform: rotate(80deg);
}

.services .circle--slider .count9 li:nth-child(4) {
  transform: rotate(120deg);
}

.services .circle--slider .count9 li:nth-child(5) {
  transform: rotate(160deg);
}

.services .circle--slider .count9 li:nth-child(6) {
  transform: rotate(-160deg);
}

.services .circle--slider .count9 li:nth-child(7) {
  transform: rotate(-120deg);
}

.services .circle--slider .count9 li:nth-child(8) {
  transform: rotate(-80deg);
}

.services .circle--slider .count9 li:nth-child(9) {
  transform: rotate(-40deg);
}

.services .circle--slider .count10 li:nth-child(2) {
  transform: rotate(36deg);
}

.services .circle--slider .count10 li:nth-child(3) {
  transform: rotate(72deg);
}

.services .circle--slider .count10 li:nth-child(4) {
  transform: rotate(108deg);
}

.services .circle--slider .count10 li:nth-child(5) {
  transform: rotate(144deg);
}

.services .circle--slider .count10 li:nth-child(6) {
  transform: rotate(-180deg);
}

.services .circle--slider .count10 li:nth-child(7) {
  transform: rotate(-144deg);
}

.services .circle--slider .count10 li:nth-child(8) {
  transform: rotate(-108deg);
}

.services .circle--slider .count10 li:nth-child(9) {
  transform: rotate(-72deg);
}

.services .circle--slider .count10 li:nth-child(10) {
  transform: rotate(-36deg);
}

.services .circle--slider .animate-wrapper {
  width        : 25%;
  height       : 25%;
  position     : absolute;
  top          : 0;
  right        : 0;
  bottom       : 0;
  margin       : auto;
  border-radius: 50%;
}

.services .circle--slider .animate-title {
  color: #fff;
}

.services .circle--slider .animate-img {
  width        : 25%;
  height       : 25%;
  border-radius: 50%;
  overflow     : hidden;
}


.services .circle--slider .animate-img .animate-img__in {
  position         : absolute;
  left             : -70%;
  top              : 0;
  border-radius    : 50%;
  background-repeat: no-repeat;
  z-index          : 3;
  transform        : scale(1.23);
  transition       : width .52s, height .54s, .75s ease-in-out;
  width            : 100%;
  height           : 100%;
  opacity          : 0;
  background-size  : cover;
  box-shadow       : -20px 20px 50px rgba(0, 0, 0, 0.15);
}

.services .circle--slider .animate-img .animate-img__in:hover {
  transition: opacity .4s cubic-bezier(.77, 0, .175, 1);
}

.services .circle--slider .animate-more {
  opacity   : 0;
  visibility: hidden;
  transition: all .5s .4s;
  min-width : 131px;
  overflow  : hidden;
  text-align: center;
  z-index   : 30;
  position  : absolute;
  top       : 0;
  left      : 0;
  right     : 0;
  bottom    : 0;
  margin    : auto;
  padding   : 15px;
  height    : 62px;
  transform : scale(0.8);
}

.services .circle--slider .animate.active .animate-more {
  opacity   : 1;
  visibility: visible;
  transform : scale(1);
}

.services .circle--slider .animate.active .animate-img .animate-img__in {
  opacity  : 1;
  transform: scale(1);
}

.services .circle--slider .prev,
.services .circle--slider .next {
  position  : absolute;
  top       : 0;
  bottom    : 0;
  margin    : auto;
  display   : block;
  height    : 62px;
  width     : 10px;
  text-align: center;
  cursor    : pointer;
}

.services .circle--slider .prev span,
.services .circle--slider .next span {
  writing-mode    : vertical-rl;
  text-orientation: upright;
  font-weight     : 700;
}

.services .circle--slider .prev {
  left: 10px;
}

.services .circle--slider .next {
  left: 150px;
}
