.bg-gradient {
  background: transparent linear-gradient(180deg, #D6E8FF 0%, #FFFFFF 70%) 0% 0% no-repeat padding-box;
  opacity   : 1;
}

.animated-text {
  font-size: 110px;
  color    : #E4EAF2;
}

.timeline_div {
  width   : 100%;
  position: relative;
}

.timeline_div:before {
  content         : '';
  position        : absolute;
  top             : -15px;
  width           : 88.5%;
  height          : 1px;
  background-color: #959DB8;
  border          : 1px solid #959DB8;
  margin          : 0 auto;
  left            : 50%;
  transform       : translateX(-51%);
}

.timeline_div ul {
  width     : 100%;
  padding   : 0;
  list-style: none;
  display   : flex;
}

.timeline_div ul li {
  font-size : 0.75rem;
  padding   : 5px 22px;
  position  : relative;
  transition: 0.5s ease-in-out;
  cursor    : pointer;
}

.timeline_div ul li a {
  text-decoration: none;
  color          : #8B8CA5;
}

.timeline_div ul li:before {
  content         : '';
  border-radius   : 50%;
  position        : absolute;
  top             : -20px;
  left            : 50%;
  transform       : translateX(-50%);
  width           : 12px;
  height          : 12px;
  background-color: #E8F2FF;
  border          : 1px solid #959DB8;
}

.timeline_div ul li a:hover {
  color: #0A8EFF;
}

.timeline_div ul li:hover:before {
  background-color: #0A8EFF;
  border          : 1px solid #0A8EFF;
}

.active_timeline_a {
  color: #0A8EFF !important;
}

.active_timeline_li:before {
  background-color: #0A8EFF !important;
  border          : 1px solid #0A8EFF !important;
}

.sol_blue_bg {
  position : absolute;
  bottom   : -20px;
  left     : 50%;
  transform: translateX(-50%);
}

.info {
  position: absolute;
}

.info p {
  max-width : 185px;
  text-align: left;
}

.elipse {
  width        : 511px;
  height       : 511px;
  border       : 2px dashed #171A4B;
  opacity      : 1;
  position     : absolute;
  left         : 50%;
  transform    : translateX(-50%);
  border-radius: 50%;
}

.elipse .cloud,
.elipse .security,
.elipse .intel {
  position: relative;
}

.elipse .cloud img {
  position : absolute;
  right    : 85%;
  top      : 180px;
  cursor   : pointer;
  transform: translateX(-15%);
}

.elipse .security img {
  position : absolute;
  top      : -50px;
  cursor   : pointer;
  left     : 50%;
  transform: translateX(-50%);
}

.elipse .intel img {
  position : absolute;
  left     : 92%;
  cursor   : pointer;
  top      : 160px;
  width    : 90px;
  transform: translateX(-8%);
}

.building {
  position : relative;
  max-width: 33.333333%;
  margin   : 130px auto 0;
}

.building .background {
  position  : absolute;
  width     : 90%;
  background: #fff;
  height    : 90%;
  top       : 30px;
  left      : 50%;
  transform : translateX(-50%);
}

.building .background .fst_floor {
  background: #D0E8FF;
  width     : 100%;
  height    : 35%;
  position  : absolute;
  top       : 0;
  visibility: hidden;
}

.building .background .sec_floor {
  background: #D0E8FF;
  width     : 50%;
  height    : 32%;
  position  : absolute;
  top       : 35%;
  visibility: hidden;
}

.building .background .sec_floor_2 {
  background: #D0E8FF;
  width     : 50%;
  height    : 32%;
  right     : 0;
  position  : absolute;
  top       : 35%;
  visibility: hidden;
}

.building .background .grd_floor {
  background: #D0E8FF;
  width     : 50%;
  height    : 35%;
  position  : absolute;
  bottom    : -5px;
  visibility: hidden;
}

.building .background .grd_floor_2 {
  background: #D0E8FF;
  width     : 50%;
  height    : 35%;
  right     : 0;
  position  : absolute;
  bottom    : -5px;
  visibility: hidden;
}

.building .front_build {
  position: relative;
}

.building .front_build #hivac {
  width   : 100%;
  position: absolute;
  cursor  : pointer;
  top     : 0px;
}

.building .front_build .fst_floor {
  width   : 100%;
  height  : 35%;
  position: absolute;
  top     : 30px;
  cursor  : pointer;
}

.building .front_build .sec_floor {
  width   : 50%;
  height  : 35%;
  position: absolute;
  top     : 150px;
  cursor  : pointer;
}

.building .front_build .sec_floor_2 {
  width   : 50%;
  height  : 35%;
  right   : 0;
  cursor  : pointer;
  position: absolute;
  top     : 150px;
}

.building .front_build .grd_floor {
  cursor  : pointer;
  width   : 50%;
  height  : 35%;
  position: absolute;
  bottom  : -5px;
}

.building .front_build .grd_floor_2 {
  cursor  : pointer;
  width   : 50%;
  height  : 35%;
  right   : 0;
  position: absolute;
  bottom  : -5px;
}

.building .front_build img {
  position: relative;
}

.building .front_build .sec_floor_2 img {
  top      : 18px;
  left     : -4px;
  opacity  : 0;
  transform: scale(1.02);
}

.building .front_build .fst_floor img {
  opacity: 0;
}

.building .front_build .grd_floor_2 img {
  top    : 4px;
  left   : -4px;
  opacity: 0;
}

.building .front_build .grd_floor img {
  top      : 5px;
  left     : 3px;
  transform: scale(1.05);
  opacity  : 0;
}

.building .front_build #hivac img {
  left     : 7px;
  opacity  : 0;
  transform: scale(0.9);
  top      : -1px;
}

.building .front_build #hivac_2 {
  display : none;
  width   : 100%;
  position: absolute;
  cursor  : pointer;
  top     : 0px;
}

.building .front_build #hivac_2 img {
  left     : 7px;
  transform: scale(0.9);
  top      : -1px;
}

.building .front_build .sec_floor img {
  top      : 20px;
  left     : 5px;
  transform: scale(1.04);
  opacity  : 0;
}

.specs {
  position  : absolute;
  max-width : 33.333333%;
  top       : 0;
  right     : 0;
  text-align: left;
}

#cloud_img_2,
#security_img_2,
#intel_img_2,
#cloud_img_3,
#security_img_3,
#intel_img_3 {
  display: none;
}

.specs .second_li_specs,
.specs .first_li_specs,
.specs .third_li_specs,
.specs .fourth_li_specs,
.specs .fifth_li_specs,
.specs .sixth_li_specs,
.specs .seventh_li_specs,
.specs .eighth_li_specs,
.specs .ninth_li_specs {
  display: none;
}

.mobilediv {
  display: none;
}

.holding_cloud_div p {
  display: none;
}

.mobile_newsletter_img {
  display: none;
}

.specs .slick-arrow {
  opacity: 0 !important;
}

@media only screen and (max-width: 992px) {

  .timeline_div,
  .info,
  .elipse,
  .building,
  .sol_blue_bg {
    display: none;
  }

  #building_animat {
    margin-top : 0 !important;
    padding-top: 0 !important;
  }

  .mobilediv {
    display: block;
  }

  .mobile_newsletter_img {
    display : block;
    position: absolute;
    right   : 0;
    top     : -40px;
  }

  .desktop_newsletter_img {
    display: none;
  }

  .newsletter_div {
    height: 50px;
  }

  .specs {
    position : static;
    max-width: 100%;
    padding  : 20px 0 0;
  }

  .specs .second_li_specs,
  .specs .first_li_specs,
  .specs .third_li_specs,
  .specs .fourth_li_specs,
  .specs .fifth_li_specs,
  .specs .sixth_li_specs,
  .specs .seventh_li_specs,
  .specs .eighth_li_specs,
  .specs .ninth_li_specs {
    display: block;
  }

  .specs .slick-dots {
    display        : flex;
    width          : 50%;
    padding        : 20px 0 0;
    margin         : 0 auto;
    list-style     : none;
    justify-content: space-between;
  }

  .slick-dots li button {
    cursor       : pointer;
    display      : block;
    width        : 1rem;
    height       : 1rem;
    padding      : 0;
    border       : none;
    border-radius: 100%;
    text-indent  : -9999px;
  }

  .slick-dots li.slick-active button {
    background-color: #5860F3;
  }

}

@media only screen and (max-width: 550px) {
  .wht_we_div {
    margin-top: 0 !important;
    background: #EBECFF;
  }

  .wht_we_cont {
    margin-top: 0 !important;
  }

  .wht_we_cont .lightblueCircle::before {
    background: #fff;
  }

  .sol_main_text {
    font-size: 2.5rem;
    color    : #fff;
  }

  .animated-text {
    font-size: 2.8rem;
  }

  .sol_img_1 {
    display: none;
  }

  .bg-header-banner {
    background       : url("../img/Group_30105.png");
    background-repeat: no-repeat;
    background-size  : cover;
    height           : 80vh;
    color            : #fff;
  }

  .holding_cloud_div {
    padding: 0;
  }

  .holding_cloud_div img {
    padding-right: 0 !important;
  }

  .holding_cloud_div p {
    display: block;
  }

  .desktop_text {
    display: none;
  }

  .responsive_left_text {
    text-align: left !important;
  }

  .bg-gradient {
    background: #fff;
  }
}

/* side Slider rjlooper */
/* Section Services */
@media (min-width: 992px) {
  .container-slider {
    position    : relative;
    margin      : 0;
    padding     : 0;
    padding-left: 55px;
    padding-top : 80px;
    min-height  : -webkit-fill-available;
  }

  .services {
    margin-top: -45% !important;
  }

  .services .circle--slider .animate-img .animate-img__in {
    top: 24% !important;
  }

  .services .circle--rotate {
    margin: 0 -242px !important;
  }
}

@media (min-width: 1200px) {
  .container-slider {
    position    : relative;
    margin      : 0;
    padding     : 0;
    padding-left: 110px;
    padding-top : 100px;
    min-height  : -webkit-fill-available;
  }

  .services {
    margin-top: -50% !important;
  }

  .services .circle--slider .animate-img .animate-img__in {
    top: 0% !important;
  }

  .services .circle--rotate {
    margin: 0 -274px !important;
  }
}

@media (min-width: 1280px) {
  .services {
    margin-top: -63% !important;
  }
}

@media (min-width: 1366px) {
  .services {
    margin-top: -55% !important;
  }
}

@media (min-width: 1440px) {
  .services {
    margin-top: -50% !important;
  }
}


@media (min-width: 1600px) {
  .services {
    margin-top: -45% !important;
  }
}

@media (min-width: 1680px) {
  .services {
    margin-top: -42% !important;
  }
}

@media (min-width: 1900px) {
  .services {
    margin-top: -36% !important;
  }
}

.services {
  width          : 100%;
  height         : 100vh;
  display        : flex;
  align-items    : center;
  justify-content: space-between;
  overflow       : hidden;
  margin-top     : -56%;
}

.services>* {
  flex-grow: 1;
}

.services .circle--rotate {
  border-radius: 50%;
  border       : 1px #00000063 solid;
  width        : 43%;
  height       : 43%;
  margin       : 0 -270px;
  position     : relative;
  transform    : rotate(45deg);
  z-index      : 3;
  padding      : 0;
  float        : right;
}

.services .circle--rotate>li {
  position     : absolute;
  left         : 0;
  top          : 0;
  width        : 100%;
  height       : 100%;
  display      : block;
  border-radius: 50%;
  z-index      : 10;
  visibility   : hidden;
}

.services .circle--rotate>li .icon {
  visibility      : visible;
  cursor          : pointer;
  text-align      : center;
  overflow        : hidden;
  font-size       : 20px;
  color           : #ffffff;
  border-radius   : 50%;
  background-color: #000;
  height          : 3%;
  width           : 3%;
  margin          : -1.5% auto;
  transition      : all 500ms ease;
  box-shadow      : -10px 10px 25px rgba(0, 0, 0, 0.2);
}

.services.circle--rotate>li i {
  color    : #ffffff;
  font-size: 24px;
  margin   : auto;
  cursor   : pointer;
  width    : 100%;
  height   : 100%;
  display  : table;
}

.services.circle--rotate>li i::before {
  display       : table-cell;
  vertical-align: middle;
}

.services.circle--rotate>li img {
  margin: auto;
}

.services.circle--slider {
  position: relative;
}

.services.circle--slider .rotate--circle {
  margin: 0 auto;
}

.services.circle--slider .circle--rotate>li div {
  position        : relative;
  overflow        : visible;
  background-color: #1F2845;
}

.services.circle--slider .circle--rotate>li div span {
  transform : rotate(0deg);
  transition: all 2s;
  opacity   : 0;
}

.services.circle--slider .circle--rotate>li.active div {
  font-size       : 20px;
  background-color: #654BE4;
  transition      : all 1s;
}

.services.circle--slider .circle--rotate>li.active div span {
  width    : 100%;
  height   : 100%;
  display  : block;
  position : absolute;
  top      : 0;
  left     : 0;
  transform: rotate(-45deg);
  z-index  : -1;
  opacity  : 1;
}

.services.circle--slider .circle--rotate>li.active div span:before {
  position: absolute;
  height  : 1px;
  top     : -50%;
  right   : 140%;
  bottom  : 0;
  margin  : auto;
  content : "";
  width   : 30%;
  height  : 30%;
  filter  : blur(3px);
  opacity : .7;
  border  : 6px solid transparent;
  z-index : -1;
}

.services.circle--slider .circle--rotate>li.active div span:after {
  position     : absolute;
  height       : 1px;
  top          : 100%;
  left         : 130%;
  bottom       : 0;
  margin       : auto;
  content      : "";
  width        : 40%;
  height       : 40%;
  border-radius: 50%;
  opacity      : .7;
  border       : 8px solid transparent;
  z-index      : 5;
}

.services.circle--slider .count2 li:nth-child(2) {
  transform: rotate(180deg);
}

.services.circle--slider .count3 li:nth-child(2) {
  transform: rotate(120deg);
}

.services.circle--slider .count3 li:nth-child(3) {
  transform: rotate(240deg);
}

.services.circle--slider .count4 li:nth-child(2) {
  transform: rotate(90deg);
}

.services.circle--slider .count4 li:nth-child(3) {
  transform: rotate(180deg);
}

.services.circle--slider .count4 li:nth-child(4) {
  transform: rotate(270deg);
}

.services.circle--slider .count5 li:nth-child(2) {
  transform: rotate(72deg);
}

.services.circle--slider .count5 li:nth-child(3) {
  transform: rotate(144deg);
}

.services.circle--slider .count5 li:nth-child(4) {
  transform: rotate(216deg);
}

.services.circle--slider .count5 li:nth-child(5) {
  transform: rotate(-72deg);
}

.services.circle--slider .count6 li:nth-child(2) {
  transform: rotate(60deg);
}

.services.circle--slider .count6 li:nth-child(3) {
  transform: rotate(120deg);
}

.services.circle--slider .count6 li:nth-child(4) {
  transform: rotate(180deg);
}

.services.circle--slider .count6 li:nth-child(5) {
  transform: rotate(240deg);
}

.services.circle--slider .count6 li:nth-child(6) {
  transform: rotate(-60deg);
}

.services.circle--slider .count7 li:nth-child(2) {
  transform: rotate(51.5deg);
}

.services.circle--slider .count7 li:nth-child(3) {
  transform: rotate(103deg);
}

.services .circle--slider .count7 li:nth-child(4) {
  transform: rotate(154.5deg);
}

.services .circle--slider .count7 li:nth-child(5) {
  transform: rotate(206deg);
}

.services .circle--slider .count7 li:nth-child(6) {
  transform: rotate(-103deg);
}

.services .circle--slider .count7 li:nth-child(7) {
  transform: rotate(-51.5deg);
}

.services .circle--slider .count8 li:nth-child(2) {
  transform: rotate(45deg);
}

.services .circle--slider .count8 li:nth-child(3) {
  transform: rotate(90deg);
}

.services .circle--slider .count8 li:nth-child(4) {
  transform: rotate(135deg);
}

.services .circle--slider .count8 li:nth-child(5) {
  transform: rotate(180deg);
}

.services .circle--slider .count8 li:nth-child(6) {
  transform: rotate(-135deg);
}

.services .circle--slider .count8 li:nth-child(7) {
  transform: rotate(-90deg);
}

.services .circle--slider .count8 li:nth-child(8) {
  transform: rotate(-45deg);
}

.services .circle--slider .count9 li:nth-child(2) {
  transform: rotate(40deg);
}

.services .circle--slider .count9 li:nth-child(3) {
  transform: rotate(80deg);
}

.services .circle--slider .count9 li:nth-child(4) {
  transform: rotate(120deg);
}

.services .circle--slider .count9 li:nth-child(5) {
  transform: rotate(160deg);
}

.services .circle--slider .count9 li:nth-child(6) {
  transform: rotate(-160deg);
}

.services .circle--slider .count9 li:nth-child(7) {
  transform: rotate(-120deg);
}

.services .circle--slider .count9 li:nth-child(8) {
  transform: rotate(-80deg);
}

.services .circle--slider .count9 li:nth-child(9) {
  transform: rotate(-40deg);
}

.services .circle--slider .count10 li:nth-child(2) {
  transform: rotate(36deg);
}

.services .circle--slider .count10 li:nth-child(3) {
  transform: rotate(72deg);
}

.services .circle--slider .count10 li:nth-child(4) {
  transform: rotate(108deg);
}

.services .circle--slider .count10 li:nth-child(5) {
  transform: rotate(144deg);
}

.services .circle--slider .count10 li:nth-child(6) {
  transform: rotate(-180deg);
}

.services .circle--slider .count10 li:nth-child(7) {
  transform: rotate(-144deg);
}

.services .circle--slider .count10 li:nth-child(8) {
  transform: rotate(-108deg);
}

.services .circle--slider .count10 li:nth-child(9) {
  transform: rotate(-72deg);
}

.services .circle--slider .count10 li:nth-child(10) {
  transform: rotate(-36deg);
}

.services .circle--slider .animate-wrapper {
  width        : 25%;
  height       : 25%;
  position     : absolute;
  top          : 0;
  right        : 0;
  bottom       : 0;
  margin       : auto;
  border-radius: 50%;
}

.services .circle--slider .animate-title {
  color: #fff;
}

.services .circle--slider .animate-img {
  width        : 25%;
  height       : 25%;
  border-radius: 50%;
  overflow     : hidden;

}

@-webkit-keyframes growUp {
  0% {
    -webkit-transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
  }
}

@-moz-keyframes growUp {
  0% {
    -moz-transform: scale(0);
  }

  100% {
    -moz-transform: scale(1);
  }
}

@-o-keyframes growUp {
  0% {
    -o-transform: scale(0);
  }

  100% {
    -o-transform: scale(1);
  }
}

@-ms-keyframes growUp {
  0% {
    -ms-transform: scale(0);
  }

  100% {
    -ms-transform: scale(1);
  }
}

@keyframes growUp {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.services .circle--slider .animate-img .animate-img__in {
  position                                            : absolute;
  left                                                : -30%;
  top                                                 : 0;
  border-radius                                       : 50%;
  background-repeat                                   : no-repeat;
  z-index                                             : 3;
  /* transform                                        : scale(1.23); */
  /* transition                                       : width .52s, height .54s, .75s ease-in-out; */
  width                                               : 100%;
  height                                              : 100%;
  opacity                                             : 0;
  background-size                                     : cover;
  /* box-shadow                                       : -20px 20px 50px rgba(0, 0, 0, 0.15); */
  /* -webkit-animation                                : growUp 1.8s 1.3s;
  -moz-animation                                      : growUp 1.8s 1.3s;
  -ms-animation                                       : growUp 1.8s 1.3s;
  -o-animation                                        : growUp 1.8s 1.3s;
  animation                                           : growUp 1.8s 1.3s; */
  /* transition                                       : opacity .4s cubic-bezier(.77, 0, .175, 1); */
  /* transition                                       : opacity 1.50s cubic-bezier(0.23, 1, 0.320, 1); */
}

.services .circle--slider .animate-img .animate-img__in:hover {
  transition: opacity .4s cubic-bezier(.77, 0, .175, 1);
}

.services .circle--slider .animate-more {
  opacity   : 0;
  visibility: hidden;
  transition: all .5s .4s;
  min-width : 131px;
  overflow  : hidden;
  text-align: center;
  z-index   : 30;
  position  : absolute;
  top       : 0;
  left      : 0;
  right     : 0;
  bottom    : 0;
  margin    : auto;
  padding   : 15px;
  height    : 62px;
  transform : scale(0.8);
}

.services .circle--slider .animate.active .animate-more {
  opacity   : 1;
  visibility: visible;
  transform : scale(1);
}

.services .circle--slider .animate.active .animate-img .animate-img__in {
  opacity               : 1;
  transition            : opacity 1.40s step-end;
  -webkit-animation     : growUp 0.40s 1.3s;
  -moz-animation        : growUp 0.40s 1.3s;
  -ms-animation         : growUp 0.40s 1.3s;
  -o-animation          : growUp 0.40s 1.3s;
  animation             : growUp 0.40s 1.3s;
  /* transform          : scale(1.3); */
  /* transition         : width .52s, height .54s, .75s ease-in-out; */
}

.services .circle--slider .prev,
.services .circle--slider .next {
  position  : absolute;
  top       : -35%;
  bottom    : 0;
  right     : -10%;
  margin    : auto;
  display   : block;
  height    : 62px;
  width     : 10px;
  text-align: center;
  cursor    : pointer;
}

.services .circle--slider .prev span,
.services .circle--slider .next span {
  writing-mode    : vertical-rl;
  text-orientation: upright;
  font-weight     : 700;
  border          : 1px solid #ddd;
  padding         : 20px;
  border-radius   : 50%;
}

.services .circle--slider .next span :hover {
  transform: scale(1.5);
  /* transition: transform .4s cubic-bezier(.19, 1, .22, 1),
    opacity .3s cubic-bezier(.19, 1, .22, 1); */
}

.services .circle--slider .prev {
  left: 8px;
}

.services .circle--slider .next {
  left: 150px;
}

/* side slider end here */
